.NavBar {
    background-color: rgba(52,58,64,1);
    padding: 0rem 1rem;
    a {
        color: #d2f4ea!important;
        font-size: 20px;
    }
    .navbar-brand {
        font-size: 25px;
    }
}

.navbar-dark .navbar-toggler {
    color: #d2f4ea!important;
    border-color: #d2f4ea!important;
    opacity: 0.3;
}