$primary: #343a40;
$info: teal;

$theme-colors: (
  "primary": $primary,
  "info": $info,
);

@import '~bootstrap/scss/bootstrap.scss';

@import 'NavBar/NavBar';

@import 'Content/About/About';
@import 'Content/Projects/Projects';
@import 'Content/Contact/Contact';

@import 'Content/Footer/Footer';


.Content {
  font-family: 'Roboto';
}